body{
  text-align: center;
  background: url(https://upload.wikimedia.org/wikipedia/commons/c/ca/Clock_Tower_%28Big_Ben%29.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -500px;
}

.left-tower {
  -webkit-transform: matrix(0.218,-0.07,-0.004,0.248,-100,-133);
  -moz-transform: matrix(0.218,-0.07,-0.004,0.248,-100px,-133px);
  -ms-transform: matrix(0.218,-0.07,-0.004,0.248,-100,-133);
  -o-transform: matrix(0.218,-0.07,-0.004,0.248,-100,-133);
  transform: matrix(0.218,-0.07,-0.004,0.248,-100,-133);
}
