body{
  text-align: center;
  background: url(https://upload.wikimedia.org/wikipedia/commons/c/ca/Clock_Tower_%28Big_Ben%29.jpg);
  background-size: 1920px 2380px;
  background-repeat: no-repeat;
  background-position: center -500px;
  overflow-y: scroll;
}

#info{
  float: left;
  width: 0;
  height: 0;
}

#info-sub {
  margin-left: 25px;
  margin-top: 13px;
  background-color: white;
  width: 600px;
  height: 700px;
}

#svg, .left-tower, .right-tower{
  position: absolute;
  background: #482000;
}

.left-tower {
  transform: matrix(0.23,-.0775,0,0.25,-506,-130);
  margin-top: 58px;
  z-index: -1;
}

.right-tower {
  transform: matrix(0.145,.107,0,0.25,-232,-108);
  margin-top: 58px;
  z-index: -1;
}
